<div>
  @for(passager of passagers; track passager) {
    <div class="item-liste">
      <app-passager [passager]="passager" [affichagePhotos]="affichagePhotos" />
    </div>
  }
  @empty {
    <div class="message-liste-vide">Aucun passager à afficher</div>
  }
</div>