<div class="vol">
  @if(atterrissage) {
    <mat-icon>flight_land</mat-icon>
  }
  @else {
    <mat-icon>flight_takeoff</mat-icon>
  }
  <div class="field">{{ vol.icao }}</div>
  <div class="field">{{ vol.matricule }}</div>
  <div class="depart-arrivee">
    <div>{{ vol.aeroportDepart }}</div>
    <mat-icon>arrow_right_alt</mat-icon>
    <div>{{ vol.aeroportArrivee }}</div>
  </div>
  <div class="compagnie">
    <app-nom-compagnie [compagnie]="vol.compagnie"/>
  </div>
</div>