.vol {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  box-sizing: border-box;
  align-items: center;
  
  .depart-arrivee {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .field {
    width: 15%;
  }

  .compagnie {
    width: 20%;
  }
}