@import 'variables';

.passager {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;

  .identite {
    display: flex;
    align-items: center;
    width: 50%;
    gap: 20px;

    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
  }

  .vol {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    gap: 20px;

    .classe {
      font-weight: 300;
      color: $secondary;
    }
  }
}