<div class="passager" [matTooltip]="'Email: ' + passager.email" matTooltipClass="email-tooltip">
  <div class="identite">
    @if(affichagePhotos) {
      <img [src]="passager.image" />
    }
    <div>{{ passager.nom }}</div>
  </div>
  <div class="vol">
    <div class="classe" [couleurClasse]="passager.classeVol">{{ passager.classeVol }}</div>
    <div class="flex-center" excedentBagage [classe]="passager.classeVol" [nombreBagages]="passager.nbBagagesSoute">
      <mat-icon>luggage</mat-icon> x {{ passager.nbBagagesSoute }}
    </div>
  </div>
</div>