<div class="container">
  <div class="title"><h1>{{ titre }}</h1></div>
  <div class="sections">
    <div class="left">
      <div class="top">
        <app-filtres (filtres)="filtrer($event)" />
      </div>
      <div class="bottom">
        <app-liste-vols 
        [vols]="vols" 
        [volSelectionne]="volSelectionne"
        (volSelectionneChange)="selectionnerVol($event)" 
        [atterrissage]="mode === 'atterrissages'"
      />
      </div>
    </div>
    <div class="right">
      @if(volSelectionne) {
        <p><mat-slide-toggle [checked]="affichagePhotos" (change)="modifierAffichagePhotos($event)">Affichage des photos</mat-slide-toggle></p>
        <app-liste-passagers [passagers]="passagers" [affichagePhotos]="affichagePhotos" />
      }
    </div>
  </div>
</div>
