@import 'variables';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
* {
  box-sizing: border-box;
}

.item-liste {
  cursor: pointer;
  border-bottom: 1px solid #ccc;
  transition: 0.3s;
  background-color: white;

  &:hover {
    background-color: $light;
  }
}

.message-liste-vide {
  padding: 20px;
  text-align: center;
  width: 100%;
  background-color: $light-accent;
  font-size: 1.2em;
}

.flex-center {
  display: flex;
  align-items: center;
}

// Classe utilisée pour le tooltip des adresses email des passagers
.email-tooltip {
  text-wrap: nowrap;

  div {
    max-width: unset;
  }
}