<div class="filtres-container">
  <form [formGroup]="formGroup" (ngSubmit)="appliquer()">
    <mat-form-field appearance="outline">
      <mat-label>Aéroport</mat-label>
      <mat-select required [formControl]="aeroportControl">
        <mat-option *ngFor="let aeroport of aeroports" [value]="aeroport">{{ aeroport.ville + ' - ' + aeroport.nom }}</mat-option>
      </mat-select>
      @if(formGroup.controls['aeroport'].errors && formGroup.controls['aeroport'].errors['required']) {
        <mat-error>L'aeroport de départ est obligatoire</mat-error>
      }
    </mat-form-field>
  
    <mat-form-field appearance="outline">
      <mat-label>Dates</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input [formControl]="debut" required matStartDate placeholder="Date de début">
        <input [formControl]="fin" required matEndDate placeholder="Date de fin">
      </mat-date-range-input>
      <mat-hint>Entrez une période de 3 jours</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
      @if(formGroup.controls['debut'].errors && formGroup.controls['debut'].errors['required'] || formGroup.controls['fin'].errors && formGroup.controls['fin'].errors['required']) {
        <mat-error>Les dates de début et de fin sont obligatoires</mat-error>
      }
    </mat-form-field>
  
    <button class="apply-button" mat-flat-button type="submit">Appliquer</button>
  </form>
</div>
