@import 'variables';

mat-toolbar {
  display: flex;
  justify-content: space-between;
  background-color: $white;

  .logo {
    display: flex;
    height: inherit;
  }

  button {
    width: auto;
  }
}
