<div>
  @for(vol of vols; track vol.matricule) {
    <div class="item-liste" (click)="selectionnerVol(vol)">
      <app-vol [vol]="vol" [atterrissage]="atterrissage"></app-vol>
    </div>
  }
  @empty {
    <div class="message-liste-vide">Aucun vol à afficher</div>
  }
</div>